# Operation on list

#### Create and Print a List

In [45]:
ages = [18, 22, 25, 30, 35]
print("List elements:", ages)

List elements: [18, 22, 25, 30, 35]

#### Append an Element

In [46]:
cities = ["Delhi", "Mumbai", "Chennai"]
cities.append("Kolkata")
print("After append:", cities)

After append: ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']

#### Insert an Element

In [47]:
sports = ["cricket", "football", "hockey"]
sports.insert(2, "tennis")   
print("After insert:", sports)

After insert: ['cricket', 'football', 'tennis', 'hockey']

#### Remove an Element

In [48]:
vehicles = ["car", "bus", "bike", "train"]
vehicles.remove("bike")
print("After remove:", vehicles)

After remove: ['car', 'bus', 'train']

#### Sort the List

In [49]:
scores = [88, 45, 67, 92, 54]
scores.sort()
print("After sorting:", scores)

After sorting: [45, 54, 67, 88, 92]

# Operation on tuple

#### Create and Print a Tuple

In [50]:
numbers = (5, 10, 15, 20, 25)
print("Tuple elements:", numbers)

Tuple elements: (5, 10, 15, 20, 25)

#### Access an Element by Index

In [51]:
fruits = ("apple", "banana", "cherry", "mango")
print("Element at index 2:", fruits[2])

Element at index 2: cherry

#### Slicing a Tuple

In [52]:
colors = ("red", "blue", "green", "yellow", "black")
print("Sliced tuple:", colors[1:4])

Sliced tuple: ('blue', 'green', 'yellow')

#### Count Occurrences

In [53]:
animals = ("cat", "dog", "cat", "lion", "cat", "tiger")
print("Count of 'cat':", animals.count("cat"))

Count of 'cat': 3

#### Find Index of an Element

In [54]:
subjects = ("maths", "science", "english", "history")
print("Index of 'english':", subjects.index("english"))

Index of 'english': 2

# Operation on set

#### Create and Print a Set

In [55]:
numbers = {10, 20, 30, 40, 50}
print("Set elements:", numbers)

Set elements: {50, 20, 40, 10, 30}

#### Add an Element

In [56]:
fruits = {"apple", "banana", "cherry"}
fruits.add("mango")
print("After add:", fruits)

After add: {'cherry', 'mango', 'apple', 'banana'}

#### Remove an Element

In [57]:
colors = {"red", "blue", "green", "yellow"}
colors.remove("green")
print("After remove:", colors)

After remove: {'red', 'blue', 'yellow'}

#### Union of Two Sets

In [58]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Union:", set1.union(set2))

Union: {1, 2, 3, 4, 5}

#### Intersection of Two Sets

In [59]:
setA = {"cat", "dog", "lion"}
setB = {"dog", "tiger", "lion"}
print("Intersection:", setA.intersection(setB))

Intersection: {'lion', 'dog'}

# Operation on dictionary

#### Create and Print a Dictionary

In [60]:
student = {"name": "Kayal", "age": 18, "course": "CSE"}
print("Dictionary elements:", student)

Dictionary elements: {'name': 'Kayal', 'age': 18, 'course': 'CSE'}

#### Add a New Key–Value Pair

In [61]:
fruits = {"apple": 50, "banana": 30}
fruits["mango"] = 40
print("After adding:", fruits)

After adding: {'apple': 50, 'banana': 30, 'mango': 40}

#### Update a Value

In [62]:
marks = {"maths": 85, "science": 90, "english": 80}
marks["science"] = 95
print("After update:", marks)

After update: {'maths': 85, 'science': 95, 'english': 80}

#### Remove a Key–Value Pair

In [63]:
cars = {"BMW": 5000000, "Audi": 4000000, "Tesla": 6000000}
cars.pop("Audi")
print("After remove:", cars)

After remove: {'BMW': 5000000, 'Tesla': 6000000}

#### Access Value by Key

In [64]:
capital = {"India": "Delhi", "Japan": "Tokyo", "France": "Paris"}
print("Capital of Japan:", capital["Japan"])

Capital of Japan: Tokyo